{% extends 'base.html' %}

{% block content %}

<div class="container">

  <div class="row" id="item_info_wrapper">
    <div class="col-sm-4">
      <h2>Name: {{ item.name }}</h2>
    </div>

    <div class="col-sm-4">
      <h2>Price: {{ item.price }}</h2>
    </div>

    <div class="col-sm4">
      <h2>Owner: {{ item.owner }}</h2>
    </div>
  </div>

  <div class="row" id="comments_wrapper">

    <div class="col-sm-6" id="comments_visible_to_item_owner_wrapper">
      <h3>Comments visible to owner</h3><br>
      {% for comment in comments_visible_to_item_owner %}

      <div class="row" id="comment_{{ comment.pk }}">
        <div class="col-sm-12">
          <b>{{ comment.commenter }} - {{ comment.date|date:"N jS G:i" }}</b><br>
          {{ comment.message }}
        </div>
      </div>

      {% empty %}
      <p>Nothing to see here.</p>
      {% endfor %}
      <br>

      <div class="row" id="submit_new_comment_visible_to_item_owner">
        <div class="col-sm-12">
          <form method="POST" action="{% url 'mylist:add_comment' item_pk=item.pk visible_to_item_owner=1 username=item.owner.username %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Comment</button>
          </form>
        </div>
      </div>
    </div>


    {% if user != item.owner %}

    <div class="col-sm-6" id="comments_not_visible_to_item_owner_wrapper">
      <h3>Comments NOT visible to owner</h3><br>
      {% for comment in comments_not_visible_to_item_owner %}

      <div class="row" id="comment_{{ comment.id }}">
        <div class="col-sm-12">
          <b>{{ comment.commenter }} - {{ comment.date|date:"jS N G:i" }}</b><br>
          {{ comment.message }}
        </div>
      </div>

      {% empty %}
      <p>Nothing to see here.</p>
      {% endfor %}
      <br>

      <div class="row" id="submit_new_comment_not_visible_to_item_owner">
        <div class="col-sm-12">
          <form method="POST" action="{% url 'mylist:add_comment' item_pk=item.pk visible_to_item_owner=0 username=item.owner.username %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Comment</button>
          </form>
        </div>
      </div>
    </div>

    {% endif %}

  </div>

</div>

{% endblock %}