{% extends 'base.html' %}

{% block title %}Settings{% endblock %}

{% block content %}

<div class="container-fluid">

  <h4>Settings</h4>

  <div class="row">
    <div class="col-sm-12">
      <a href="{% url 'accounts:email_change' %}">
        <button class="btn btn-primary">Change email</button>
      </a>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-12">
      <a href="{% url 'accounts:username_change' %}">
        <button class="btn btn-primary">Change username</button>
      </a>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-12">
      <a href="{% url 'password_change' %}">
        <button class="btn btn-primary">Change password</button>
      </a>
    </div>
  </div>
</div>

{% endblock %}