{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
  <h4>Sign up</h4>
  <form method="post">
    {% csrf_token %}
    <div id="form_container">
    {% for field in form %}
          <div class="outerFieldWrapper">
            <div class="innerFieldWrapper">
              {{ field.label_tag }}
              {% for error in field.errors %}
                {{ error }}
              {% endfor %}
              {{ field }}
            </div>
            {% if field.help_text %}
            <small class="help">{{ field.help_text|safe }}</small>
              {% endif %}

          </div>
    {% endfor %}
      <button type="submit" class="submit_button">Submit</button>
    </div>
  </form>
  <script>
    var labels = document.getElementsByTagName("label");
    labels[labels.length-1].innerHTML = "Password:";
  </script>
{% endblock %}