{% extends 'base.html' %}

{% block title %}New item{% endblock %}

{% block content %}
<h4>Add Item</h4>

<form method="POST">
  {% csrf_token %}
  <div id="form_container">
    {% for field in form %}
          <div class="fieldWrapper">
              {{ field.label_tag }}
              {{ field.errors }}
              {{ field }}
          </div>
      {% endfor %}
    <button type="submit" class="submit_button">Submit</button>
  </div>


</form>
<style type="text/css">

</style>

{% endblock %}