{% extends 'base.html' %}

{% block title %}My list{% endblock %}

{% block content %}
<div>
    <h1>My List</h1>
    <div id="list_container">
        this is the list container
    </div>
    <form>
      <input type="text" placeholder="Item Name" class="form-control"><input type="text" placeholder="Item Cost" class="form-control"><br>
      <input type="text" placeholder="Item Link" class="form-control"><input  type="submit" value="Submit" class="btn btn-info form-control">

    </form>
</div>
{% endblock %}