<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<div>
    <h1> My List</h1>
    <div id="list_container">
        this is the list container
    </div>
    <form>
      <input type="text" placeholder="Item Name" class="form-control"><input type="text" placeholder="Item Cost" class="form-control"><br>
      <input type="text" placeholder="Item Link" class="form-control"><input  type="submit" value="Submit" class="btn btn-info form-control">

    </form>
</div>