{% extends 'base.html' %}

{% block content %}

<h4>Friend Requests:</h4>
{% if friend_requests %}
    {% for friend_request in friend_requests %}
        <div class="row" >
            <div class='col-xs-5' >
                <a href="{% url 'mylist:mylist' username=friend_request.sender.username %}"  >
                    {{ friend_request.sender.username }}
                </a>
            </div>
            <div class='col-xs-7' >
                <a href="{% url 'contacts:accept_friend_request_view' user_pk=friend_request.sender.pk %}" >
                    <button class="btn btn-xs btn-primary" >
                        Accept
                    </button>
                </a>
                <a href="{% url 'contacts:decline_friend_request_view' user_pk=friend_request.sender.pk %}"  >
                    <button class="btn btn-xs btn-danger" >
                        Decline
                    </button>
                </a>
            </div>
        </div>
    {% endfor %}
{% else %}
    <sup>You have no pending friend requests.</sup>
{% endif %}

<h4>Contacts:</h4>
{% if contacts %}
    {% for contact in contacts %}
        <div class="row" >
            <div class='col-xs-5' >
                <a href="{% url 'mylist:mylist' username=contact.username %}" >
                    {{ contact.username }}
                </a>
            </div>
            <div class='col-xs-7' >
                <a href="{% url 'contacts:remove_contact' user_pk=contact.pk %}"  >
                    <button class="btn btn-xs btn-danger" >
                        Remove
                    </button>
                </a>
            </div>
        </div>

    {% endfor %}
{% else %}
    <sup>You have no contacts yet.</sup>
{% endif %}


{% endblock %}