{% extends 'base.html' %}

{% block title %}Gifty{% endblock %}

{% block content %}
  <h4>Login</h4>
  <form method="post">
    {% csrf_token %}
    <div id="form_container">
    {% for field in form %}
          <div class="fieldWrapper">
              {{ field.label_tag }}
              {{ field.errors }}
              {{ field }}
          </div>
      {% endfor %}
      <button type="submit" class="submit_button">Submit</button>
    </div>

  </form>
  {% comment %}
  <br>
  <p>Or <a href="{% url 'accounts:signup' %}">Sign up</a></p>
  {% endcomment %}

{% endblock %}