{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gifty</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'css/base_html.css' %}">
    {% block css %}{% endblock %}

    <script defer src="{% static 'js/fontawesome-all.js' %}" type="text/javascript"></script>
</head>
<body>

    <div id="navbar_container">
        <div id="navbar_inner">
            <a href="/" id="navbar_title">
                🎁 Gifty
            </a>

            <div id="navbar_buttons_container">
                {% if user.is_authenticated %}
                    <a href="/" class="navbar_button">My List</a>
                    <a href="{% url 'reservations:reservations' %}" class="navbar_button">Reservations</a>
                    <a href="{% url 'contacts:contacts' %}" class="navbar_button">Contacts</a>
                    <a id="navbar_button_notifications" href="{% url 'notifications:view_notifications' %}" class="navbar_button">
                        Notifications
                        <i class="fas fa-square"></i>
                        <span id="notifications_count"></span>
                    </a>
                    <a href="{% url 'accounts:settings' %}" class="navbar_button">Settings</a>
                    <a href="{% url 'logout' %}" class="navbar_button">Log Out</a>
                {% else %}
                    <a href="{% url 'login' %}" class="navbar_button">Login</a>
                    <a href="{% url 'accounts:signup' %}" class="navbar_button">Sign Up</a>
                {% endif %}
            </div>
        </div>

    </div>

    <div id="main_outer">
        <div id="main_inner">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% block content %}{% endblock content %}
        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <script
            src="{% static 'notifications/js/check_for_unseen_notifications.js' %}"
            id="check_for_unseen_notifications_script"
            url="{% url 'notifications:count_unseen_notifications' %}"></script>
    {% block js %}{% endblock %}
</body>
</html>