{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Notifications{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'notifications/css/notification_list.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid">
  <h4 class="border">Notifications</h4>

  {% for notification in notification_list %}

    <div class="row">
      <div class="col-sm-12">
        <a class="notification {% if notification.is_seen %}notification-seen{% else %}notification-unseen{% endif %}" href="{{ notification.link }}">
            {{ notification.message }}
            <br>
            {{ notification.date|date:"N jS G:i" }}
        </a>
      </div>
    </div>
    <br>

  {% empty %}
    <p>
      You have no notifications.
    </p>
  {% endfor %}
</div>

{% endblock %}